page-log-in {
  ion-thumbnail {
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}
  // p {
  // text-align: center;
  // margin-top: 20px;
  // }
  .disable-hover.button.button-ios.button-default.button-default-ios.button-round.button-round-ios.button-block.button-block-ios.button-ios-secondary ,
  .disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-block.button-block-md.button-md-secondary {
    margin-top: 70px;
}
  // .scroll-content {
  //   background-image: url(../../assets/imgs/bg3.jpg);
  // }


}
